.outer{
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;
    /* background-color: #343858; */
  }
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #240046;
  margin-top:2%;
  max-height: 78vh;
  max-width: 60vh;
  overflow: hidden;
  border-radius: 12px;
  border: 2px solid #255861 !important;
  /* box-shadow: 7px 7px 10px 3px #24004628; */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 24px;
}

/*checkbox to switch from sign up to login*/
#chk {
  display: none;
}

/*Login*/
.login {
  position: relative;
  width: 100%;
  height: 100%;
}

.login label {
  margin: 25% 0 5%;
}

label {
  color: #fff;
  font-size: 2rem;
  justify-content: center;
  display: flex;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.input {
  width: 100%;
  height: 40px;
  background: #e0dede;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
}

/*Register*/
.register {
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(5%);
  transition: .8s ease-in-out;
  height: 100%; /* Add this line to extend the background downwards */
}

.register label {
  color: #573b8a;
  transform: scale(.6);
}

#chk:checked ~ .register {
  transform: translateY(-65%);
  height: calc(100% + 60%); /* Update the height to include the extension */
}

#chk:checked ~ .register label {
  transform: scale(1);
  margin: 10% 0 5%;
}

#chk:checked ~ .login label {
  transform: scale(.6);
  margin: 5% 0 5%;
}

/*Button*/
.form button {
  width: 85%;
  height: 40px;
  margin: 12px auto 10%;
  color: #fff;
  background: #573b8a;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: .2s ease-in;
}

.form button:hover {
  background-color: #6d44b8;
}


.container form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .container label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    font-size: medium;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
    margin-top: 0.375em;
}
  
  .container  label input {
    position: absolute;
    left: -9999px;
  }
  
  .container label input:checked + span {
    background-color: #414181;
    color: white;
  }
  
  .container label span {
    display: flex;
    align-items: center;
    padding: 0.375em 0.75em 0.375em 0.375em;
    border-radius: 99em;
    transition: 0.25s ease;
    color: #414181;
  }
  
  .container label span:hover {
    background-color: #d6d6e5;
  }
  .container label span:before {
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: #fff;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    margin-right: 0.375em;
    transition: 0.25s ease;
    /* box-shadow: inset 0 0 0 0.125em #00005c; */
  }
  .login form container label span{
    color:#d6d6e5;
  }
  .login form container label  :hover{
    background-color: #fff;
    color: #414181;
  }
 